# --- DATABASE ---
# Changed from 'postgres' to 'localhost'
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=my_database

# --- REDIS ---
# Changed from 'redis' to '127.0.0.1'
REDIS_HOST=127.0.0.1
REDIS_PORT=6380
REDIS_PASSWORD=

# --- KAFKA ---
# Changed from 'redpanda:9092' to 'localhost:9092'
KAFKA_BROKER=127.0.0.1:19092

KAFKAJS_NO_PARTITIONER_WARNING=1